.container{
    display:flow-root;
    /* flex-direction: row; */
    justify-content: center;
    border-radius: 0px;
    border: 1px solid transparent;
    height: max-content;
    color: azure;
}  
.container hr{
color: greenyellow;
}
.container{
    padding: 0px;
}
.contmenu{
    display: flex;
    height:max-content;
    background-color: rgb(40, 37, 37);
    box-shadow: 0 -5px 10px  goldenrod;
    border-radius: 10px;
}

.contmenu nav{
display: flexbox;
margin: 2px;
background:fixed;
width: fit-content;
}

.contmenu a{
    display:inline-table;
    border: 0.5px solid goldenrod;
    padding: 2px;
    margin: 5px;
justify-content: end;
    background-color: black;
    color: goldenrod;
    font-size: 14px;
    cursor: pointer;
    text-decoration-line:none ;
    border-radius: 7px;
}

.contsearch{
    display: flex;
    margin-top: 5px;
    height:max-content;
    background-color: rgb(40, 37, 37);
    box-shadow: 0 5px 10px  goldenrod;
    border-radius: 10px;
    justify-content: flex-end;
    }