.paginate{
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 10px;

}