
.container{
    background-color: transparent;
    justify-content: center;

}

.title{
    color: white;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.image{
    border: 100px;
    border-color: white;
    height: 50%;
    width: 30%;

}
.button{
    background-color: green;
    border-radius: 100px;
    font-size: 30px;
    color: white;
    height: 50px;
    width: 50%;
    cursor: pointer;
}

button:hover{
    background-color: greenyellow;
    border: 1px solid rgb(54, 54, 54);
    color: black;
}