
.container{
    display: flex ;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    align-content: center;    
    height:600px;
}
.column{
}

.imagei{
    /* display:flex; */
    /* border: 100px; */
    border-color: white;
    height: 100%;
    width: 100%;

}
.title{
    color: white;
    font-size: xx-large;
    border-color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
}

.image{
    border: 100px;
    border-color: white;
    height: 100%;
    width: 30%;

}
.button{
    background-color: green;
    border-radius: 100px;
    font-size: 30px;
    color: white;
    height: 50px;
    width: 50%;
    cursor: pointer;
}

button:hover{
    background-color: greenyellow;
    border: 1px solid rgb(54, 54, 54);
    color: black;
}